::after,
::before {
  width: 100%;
}
.top-nav {
  background: #f7fbff;
  i {
    margin-right: 10px;
  }
  &-social {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.875rem;
    color: $grey;

    &-left {
      display: flex;
      gap: 20px;
    }
    &-right {
      gap: 24.76px;
    }
  }
  // top nav :end ---------------
}
// header start
.header {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-menu {
    span {
      display: block;
      height: 3.5px;
      background-color: $yellow-orange;
      width: 26px;
      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }

  &-links {
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: $small;
    font-weight: 400;

    a {
      color: $grey;
      margin-top: 0;
      &:hover {
        color: $yellow-orange;
      }

      &.active {
        color: $dark-blue;
      }
    }
    .big-btn {
      color: $white;
      padding: 16px 24px;
    }
  }
}
// header end

// hero section start

.hero {
  &-text {
    grid-column: 1/7;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &-x-large {
      font-size: $x-large;
      color: $dark-blue;
      font-weight: 600;
      margin-top: 1rem;

      i {
        font-size: 44px;
      }
    }

    &-medium-2 {
      margin-top: 1rem;
      font-size: $medium-2;
      line-height: 42px;
      color: $grey;
      font-weight: 400;
    }
    .big-btn {
      margin-top: 48px;
    }
  }

  &-image {
    grid-column: 7/13;
  }
}

// hero section end -------------------------

// cards section
.cards {
  overflow: auto;
  background: linear-gradient(180deg, #89a7ff 0%, #476fe4 100%);
  border-radius: 16px;
  color: #fff;
  font-size: $medium;
  position: absolute;
  top: -424px;
  left: 0;

  &-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-column: span 4;
    padding: 40px;
    box-shadow: inset -1px 0px 0px rgba(255, 255, 255, 0.1);
  }

  &-small {
    font-size: $small;
    font-weight: 400;
    margin-bottom: 24px;

    &-text1 {
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);

      font-size: $small;
      font-weight: 400;
      line-height: 2.125rem;
      margin-bottom: 8px;
    }

    &-text {
      line-height: 2.125rem;
      font-size: $small;
    }
  }

  &-medium {
    font-size: $medium;
    padding: 20px 0 12px 0;
    font-weight: 600;
    margin-bottom: 24px;
  }
  &-btn {
    padding: 16px 24px;
    font-size: $medium;
    font-weight: 600;
    line-height: 21.78px;
    border: 1px solid $white;
  }
}

// card section start ---------------------------
// about us section start
.about {
  background-color: $baground;
}

.aboutus {
  position: relative;
  margin-top: 172px;
  &-image {
    grid-column: 1/7;
    position: relative;

    &-3 {
      max-width: 145.47px;
      position: absolute;
      top: 192px;
      left: -19px;
    }

    &-2 {
      max-width: 214.14px;
      height: 113.85px;
      position: absolute;
      bottom: 180px;
      right: 133px;
    }
  }

  &-text {
    grid-column: 7/13;
    display: grid;
    justify-items: start;
    &-large {
      font-size: $large;
      font-weight: 600;
      line-height: 55px;
      color: $dark-blue;
      margin-top: 16px;
    }

    &-medium {
      font-size: $medium;
      font-weight: 400;
      line-height: 40px;
      margin-top: 16px;
      color: $grey;
    }

    &-medium-3 {
      font-size: $medium-3;
      font-weight: 600;
      line-height: 40px;
      margin-top: 24px;
      color: $dark-blue;
    }

    .care-card {
      color: $grey;
      margin-top: 14px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 8px 75px;

      i {
        color: $green;
        margin-right: 10px;
        font-size: 18px;
      }
    }
    .big-btn {
      margin-top: 48px;
    }
  }
}

//about us section end

// our services start
.our-services {
  grid-gap: 48px 30px;

  &-title {
    grid-column: 1/13;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-large {
    font-size: $large;
    color: $dark-blue;
    font-weight: 700;
    text-align: center;
    margin: 16px 0;
  }

  &-medium-3 {
    font-size: $medium-2;
    line-height: 2.5em;
    max-width: 651px;
    color: $grey;
    text-align: center;
    padding-bottom: 30px;
  }

  .card {
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: $baground;
    .icon {
      width: 100%;
      height: 128px;
      background: $blue;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 16px 16px 0 0;
    }

    &-medium-3 {
      font-size: $medium-3;
      font-weight: 600;
      text-align: center;
      padding-top: 24px;
    }

    &-small {
      font-size: $small;
      color: $grey;
      text-align: center;
      line-height: 28px;
      padding: 0 30px;
      padding-top: 11px;
      margin-bottom: 24px;
    }

    &-btn {
      background: none;
      color: $yellow-orange;
      font-size: 1rem;
      line-height: 21.78px;
      display: flex;
      align-items: center;
      justify-self: center;
      padding-bottom: 24px;

      i {
        color: $yellow-orange;
        margin: 0;
        padding: 0;
      }
    }
  }
  .btn {
    grid-column: 1/13;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// .appointments sections-------
.appointments {
  background-color: $baground;
  position: relative;
  z-index: -2;
  &-card {
    grid-gap: 30px;
    position: relative;
    .Appoinments-image3 {
      position: relative;
      // z-index: 110;
      &::after {
        content: "";
        background: url(../img/dots.png);
        background-repeat: no-repeat;
        height: 153px;
        width: 200px;
        position: absolute;
        right: -114px;
        bottom: -73px;
        z-index: -1;
      }
    }
  }

  &-text {
    grid-column: span 12;
    gap: 30px;
    align-items: center;
    .left {
      grid-column: span 6;
      justify-self: start;
    }
    .right {
      grid-column: 7/13;
      align-items: end;
    }
    &-large {
      font-size: $large;
      font-weight: 600;
      color: rgba(11, 26, 71, 1);
      line-height: 3.055em;
    }
    &-medium-4 {
      justify-self: end;
      font-size: $medium-2;
      color: $grey;
      line-height: 2.3em;
    }
  }

  .bg-change {
    background: #ffff;

    & > P {
      position: relative;
      color: black;
      font-weight: 600;
      z-index: 10;
    }
  }

  &-image {
    grid-column: span 3;
    padding: 20px;
    position: relative;

    // padding: 58px 67px;
    background: $blue-gredient;
    box-shadow: 0px 12px 48px rgba(21, 36, 59, 0.08);
    border-radius: 10px;
    text-align: center;

    img {
      height: 128px;
      width: 128px;
    }

    & > p {
      font-weight: 600;
      line-height: 2.5em;
      font-size: 1.5625rem;
      color: $dark-blue;
      // padding: 40px 47px 56px 54px;
    }
  }

  .white-font > p {
    color: white;
  }
  a:hover {
    opacity: 0.8;
    background: linear-gradient(to right top, yellow, red);

    // samll button
  }
}
// apppointment end here
// Booking start here
.booking {
  align-items: center;
  &-left {
    grid-column: 1/8;
    padding-right: 32px;
    &-large {
      font-size: $large;
      font-weight: 600;
      line-height: 3.435rem;
      color: $dark-blue;
      margin-top: 15px;
    }

    &-medium-3 {
      font-size: $medium-3;
      font-weight: 400;
      line-height: 25px;
      color: $grey;
      margin-top: 16px;
    }
  }

  // .appointments form :start here
  .form {
    padding: 15px;

    grid-column: span 5;
    background: #ffff;
    box-shadow: 0px 12px 48px rgba(21, 36, 59, 0.08);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 40px 30px;

    input,
    select {
      border: 1px solid rgba(5, 32, 61, 0.1);
      height: 52px;
      padding: 14px 16px;
      width: 100%;
      color: $grey;
      color: rgba(74, 76, 96, 0.5);
      font-weight: 400;
      font-size: 1rem;
      margin-top: 4px;
      border-radius: 10px;
      line-height: 1.5rem;

      &:hover {
        background: rgb(216, 211, 211);
        cursor: pointer;
      }
    }

    .date-time,
    .email-phone {
      gap: 30px;
    }

    .date-time {
      margin-top: -20px;
    }

    label {
      font-size: $small;
      font-weight: 400;
      font-family: "inter" sans-serif;
      line-height: 2.125rem;
      color: $dark-blue;
    }
  }

  &-btn {
    text-align: center;
    padding: 24px auto;

    img {
      margin-left: 16px;
    }
  }
}

// booling-section start ----------------------
// mobile-app-section
.mobile-app {
  background-color: $baground;
  &-group {
    gap: 20px;
  }
  &-text {
    justify-content: start;
    // grid-column: span 7;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    .sm-btn{
      grid-column: 1/ 7;
      justify-self: start;
    }

  }

  &-large {
    font-size: $large;
    font-weight: 600;
    color: $dark-blue;
    line-height: 3.43rem;
    margin-top: 16px;
    grid-column: 1/ span 7;
  }

  &-medium {
    font-size: $medium-3;
    font-weight: 400;
    line-height: 2.5rem;
    color: $grey;
    margin-top: 16px;
    margin-bottom: 40px;
    max-width: 554px;
    grid-column:1/  span 7;

  }
  &-image-link {
    display: flex;
    gap: 10px;
    grid-column: span 7;

  }

  .image-link {
    grid-column: 8/13;
    grid-row: 1/5;
    gap: 24.26px;
  }
}

// mobile app section end here

// experts section start
.experts {
  position: relative;
  grid-gap: 30px;

  &-info {
    grid-column: 1/13;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  &-large {
    font-size: $large;
    font-weight: 600;
    line-height: 2.83em;
    color: $dark-blue;
  }

  &-medium {
    font-size: $medium-3;
    color: $grey;
    line-height: 2.5em;
    font-weight: 400;
    max-width: 649px;
    text-align: center;
  }

  &-image {
    grid-column: span 3;
    border-radius: 10px;
    .name {
      display: block;
      font-size: $medium;
      color: white;
      font-weight: 400;
      text-align: center;
      padding-top: 24px;
    }

    .depart {
      display: inline-block;
      font-size: $small;
      font-weight: 400;
      width: 100%;
      color: rgba(255, 255, 255, 0.7);
      text-align: center;
    }

    &::after {
      content: "";
      background: $blue;
      width: 110%;
      height: 440px;
      position: absolute;
      z-index: -1;
      bottom: 0px;
      left: 0px;
      border-radius: 0 300px 300px 0;
    }
  }

  .btn {
    margin-bottom: 52px;
    grid-column: 1/13;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
// experts sections end

// feedbacks section
.feedback {
  .feedback-content {
    img {
      grid-column: span 6;
    }
  }

  &-text {
    grid-column: span 6;

    &-large {
      font-size: $large;
      font-weight: 600;
      color: $dark-blue;
      margin-top: 16px;
    }

    &-medium-3 {
      font-size: $medium-3;
      font-weight: 400;
      color: $grey;
      line-height: 2.5rem;
      margin: 16px 0 40px 0;
    }

    &-small {
      font-size: $small;
      font-weight: 400;
      line-height: 2.125rem;
      color: $grey;
      margin: 24px 0;
    }
  }

  &-name {
    font-size: $medium-2;
    font-weight: 700;
    color: $dark-blue;
    line-height: 2.1875rem;
    margin-bottom: 2px;
  }

  &-ocu {
    font-size: $small;
    color: $grey;
    line-height: 2.125rem;
  }

  &-btn {
    margin-top: 48px;
    text-align: center;
  }
}

// feedback section end -----------------------

// blog section start ----------------------------

.blog {
  position: relative;
  background: $baground;
  padding-bottom: 96px+176px;

  &-title {
    text-align: center;

    &-large {
      font-size: $large;
      font-weight: 600px;
      line-height: 3.82rem;
      color: $dark-blue;
      margin: 16px 0 56px 0;
    }
  }

  &-content {
    column-gap: 30px;

    &-card {
      grid-column: span 4;

      text-align: center;
      background: #ffff;
      border-radius: 20px;

      img {
        width: 100%;
      }
    }

    &-text {
      padding-left: 24px;
      text-align: start;
    }
  }

  &-cata {
    display: block;
    font-size: $tiny;
    font-weight: 600;
    color: $blue;
    margin: 30px 0 8px 0;
  }

  &-link {
    font-size: $medium;
    font-weight: 700;
    color: $dark-blue;
    line-height: 2.1875rem;
    letter-spacing: 5%;
    margin-bottom: 18px;
  }

  &-date {
    font-size: $tiny;
    font-weight: 600;
    line-height: 16.9px;
    margin-top: 16px;
    color: $grey;
    padding-bottom: 32px;
  }
  .btn {
    display: flex;
    margin-top: 48px;
    justify-content: center;
  }
}
// blog section end ------------------

//  assist-card start--------------
.assist-card {
  position: absolute;
  bottom: -218px;
  left: 0;
  right: 0;
  margin: auto;
  align-items: center;
  max-width: 1150px;
  background: $blue-gredient;
  backdrop-filter: blur(80px);
  padding: 64px 98px;
  border-radius: 20px;
.assist-text{
  grid-column: span 8;
}
  .large {
    font-size: $large;
    color: white;
    font-weight: 600;
    line-height: 3.5rem;
    margin-bottom: 10px;
  }

  .medium {
    font-size: $medium-3;
    font-weight: 400;
    line-height: 2.82rem;
    color: rgba(255, 255, 255, 0.8);
  }

  &::after {
    content: "";
    background: url(../img/assist.png);
    background-repeat: no-repeat;
    height: 236px;
    max-width: 236px;
    position: absolute;
    top: 0;
    right: -88px;
  }

  &::before {
    content: "";
    background: url(../img/Groupfooter.png);
    background-repeat: no-repeat;
    position: absolute;
    height: 44px;
    max-width: 64px;
    bottom: 24px;
    left: 24px;
  }
  .btn{
    grid-column: span 4;
    

  }
  .big-btn {
    font-size: 1.125rem;
    line-height: 21.78px;
    font-weight: 400;
  }
}
.empty-div {
  height: 294px;
}

// footer section end -------------------
// -----------------
footer {
  background-color: $baground;
}

.empty-div {
  height: 294px;
}

.footer-top {
  border-bottom: 1px solid rgba(103, 106, 138, 0.15);
  &-links {
    padding: 40px 0 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-phone {
    padding-top: 40px;
    display: flex;
    gap: 20px;

    .link-text {
      & > span {
        font-size: $small;
        font-weight: 400;
        line-height: 2.125rem;
        color: $dark-blue;
        margin-bottom: 8px;

        display: block;
      }

      & > a {
        color: $yellow-orange;
        font-size: $small;
        font-weight: 500;
        line-height: 2.125rem;
      }
    }
  }
}

.footer-content {
  padding: 80px 0 48px 0;
  gap: 31px;
  color: $grey;
  .card {
    grid-column: span 3;
  }

  .big-text {
    display: inline-block;
    position: relative;
    font-size: $medium;
    font-weight: 600;
    color: $dark-blue;
    line-height: 2.125rem;
    margin-bottom: 30px;

    &::after {
      content: "";
      height: 2px;
      width: 40px;
      background-color: $blue;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  .small-text {
    font-size: $small;
    font-weight: 400;
    margin-bottom: 32px;
    line-height: 2.125em;
    letter-spacing: 5%;
  }

  .flex {
    gap: 20px;

    .fa {
      padding: 10px;
      font-size: 20px;
      color: $dark-blue;
    }
  }

  .quick-links {
    flex-direction: column;
    display: flex;
    align-items: flex-start;

    a {
      font-size: 1.25rem;
      line-height: 2.375em;
      color: $grey;
    }
  }
  .leatest-news .blog-date {
    margin-top: 4px;
  }

  .opening-hours {
    .flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
      border-bottom: 1px solid rgba(103, 106, 138, 0.15);
      font-size: $small;
      line-height: 1.825em;
    }
  }
}

.copyright {
  background-color: $dark-blue;
  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-content {
    font-family: $small;
    font-weight: 400;
    line-break: 2.125rem;
    color: rgba(247, 251, 255, 0.5);
    padding: 16px 0;

    span {
      color: white;
    }
  }
}
