.btn {
  text-align: center;
  font-size: 1.25rem;
  padding: 16px 24px;
  font-weight: 600;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.big-btn {
  font-size: 1.125rem;
  line-height: 22px;
  color: rgb(247, 251, 255);
  background: #ec8e00;
  padding: 24px 40px;
  border-radius: 16px;
  transition: 0.5s all;
  border: none;
}
.big-btn:hover {
  border-radius: 25px 0;
  cursor: pointer;
  background: linear-gradient(to right top, rgb(0, 255, 145), red);
  color: rgb(247, 251, 255);
  transition: all 0.4s ease-in;
}
.big-btn img {
  margin-left: 16px;
}
.big-btn i {
  margin-left: 16px;
}
.big-btn::after {
  content: "";
  background-color: rgba(245, 232, 232, 0.745);
}

.sm-btn {
  text-align: center;
  font-size: 0.875rem;
  background-color: #bdf2e3;
  padding: 10px 24px;
  border-radius: 20px;
  font-weight: 600;
  color: rgb(14, 182, 84);
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1440px;
  padding: 0 150px;
  margin: 0 auto;
  width: 100%;
}

section {
  padding: 96px 0;
}

ul {
  list-style: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
  color: #ec8e00;
}

::after,
::before {
  width: 100%;
}

.top-nav {
  background: #f7fbff;
}
.top-nav i {
  margin-right: 10px;
}
.top-nav-social {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.875rem;
  color: #676a8a;
}
.top-nav-social-left {
  display: flex;
  gap: 20px;
}
.top-nav-social-right {
  gap: 24.76px;
}

.header {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-menu span {
  display: block;
  height: 3.5px;
  background-color: #ec8e00;
  width: 26px;
}
.header-menu span:not(:last-child) {
  margin-bottom: 5px;
}
.header-links {
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 1.125rem;
  font-weight: 400;
}
.header-links a {
  color: #676a8a;
  margin-top: 0;
}
.header-links a:hover {
  color: #ec8e00;
}
.header-links a.active {
  color: #0b1a47;
}
.header-links .big-btn {
  color: rgb(247, 251, 255);
  padding: 16px 24px;
}

.hero-text {
  grid-column: 1/7;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.hero-text-x-large {
  font-size: 3.75rem;
  color: #0b1a47;
  font-weight: 600;
  margin-top: 1rem;
}
.hero-text-x-large i {
  font-size: 44px;
}
.hero-text-medium-2 {
  margin-top: 1rem;
  font-size: 1.375rem;
  line-height: 42px;
  color: #676a8a;
  font-weight: 400;
}
.hero-text .big-btn {
  margin-top: 48px;
}
.hero-image {
  grid-column: 7/13;
}

.cards {
  overflow: auto;
  background: linear-gradient(180deg, #89a7ff 0%, #476fe4 100%);
  border-radius: 16px;
  color: #fff;
  font-size: 1.25rem;
  position: absolute;
  top: -424px;
  left: 0;
}
.cards-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-column: span 4;
  padding: 40px;
  box-shadow: inset -1px 0px 0px rgba(255, 255, 255, 0.1);
}
.cards-small {
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 24px;
}
.cards-small-text1 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 2.125rem;
  margin-bottom: 8px;
}
.cards-small-text {
  line-height: 2.125rem;
  font-size: 1.125rem;
}
.cards-medium {
  font-size: 1.25rem;
  padding: 20px 0 12px 0;
  font-weight: 600;
  margin-bottom: 24px;
}
.cards-btn {
  padding: 16px 24px;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 21.78px;
  border: 1px solid rgb(247, 251, 255);
}

.about {
  background-color: #f7fbff;
}

.aboutus {
  position: relative;
  margin-top: 172px;
}
.aboutus-image {
  grid-column: 1/7;
  position: relative;
}
.aboutus-image-3 {
  max-width: 145.47px;
  position: absolute;
  top: 192px;
  left: -19px;
}
.aboutus-image-2 {
  max-width: 214.14px;
  height: 113.85px;
  position: absolute;
  bottom: 180px;
  right: 133px;
}
.aboutus-text {
  grid-column: 7/13;
  display: grid;
  justify-items: start;
}
.aboutus-text-large {
  font-size: 2.8125rem;
  font-weight: 600;
  line-height: 55px;
  color: #0b1a47;
  margin-top: 16px;
}
.aboutus-text-medium {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 40px;
  margin-top: 16px;
  color: #676a8a;
}
.aboutus-text-medium-3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 40px;
  margin-top: 24px;
  color: #0b1a47;
}
.aboutus-text .care-card {
  color: #676a8a;
  margin-top: 14px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 8px 75px;
}
.aboutus-text .care-card i {
  color: rgb(14, 182, 84);
  margin-right: 10px;
  font-size: 18px;
}
.aboutus-text .big-btn {
  margin-top: 48px;
}

.our-services {
  grid-gap: 48px 30px;
}
.our-services-title {
  grid-column: 1/13;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.our-services-large {
  font-size: 2.8125rem;
  color: #0b1a47;
  font-weight: 700;
  text-align: center;
  margin: 16px 0;
}
.our-services-medium-3 {
  font-size: 1.375rem;
  line-height: 2.5em;
  max-width: 651px;
  color: #676a8a;
  text-align: center;
  padding-bottom: 30px;
}
.our-services .card {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: #f7fbff;
}
.our-services .card .icon {
  width: 100%;
  height: 128px;
  background: rgb(14, 99, 244);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px 16px 0 0;
}
.our-services .card-medium-3 {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  padding-top: 24px;
}
.our-services .card-small {
  font-size: 1.125rem;
  color: #676a8a;
  text-align: center;
  line-height: 28px;
  padding: 0 30px;
  padding-top: 11px;
  margin-bottom: 24px;
}
.our-services .card-btn {
  background: none;
  color: #ec8e00;
  font-size: 1rem;
  line-height: 21.78px;
  display: flex;
  align-items: center;
  justify-self: center;
  padding-bottom: 24px;
}
.our-services .card-btn i {
  color: #ec8e00;
  margin: 0;
  padding: 0;
}
.our-services .btn {
  grid-column: 1/13;
  display: flex;
  align-items: center;
  justify-content: center;
}

.appointments {
  background-color: #f7fbff;
  position: relative;
  z-index: -2;
}
.appointments-card {
  grid-gap: 30px;
  position: relative;
}
.appointments-card .Appoinments-image3 {
  position: relative;
}
.appointments-card .Appoinments-image3::after {
  content: "";
  background: url(../img/dots.png);
  background-repeat: no-repeat;
  height: 153px;
  width: 200px;
  position: absolute;
  right: -114px;
  bottom: -73px;
  z-index: -1;
}
.appointments-text {
  grid-column: span 12;
  gap: 30px;
  align-items: center;
}
.appointments-text .left {
  grid-column: span 6;
  justify-self: start;
}
.appointments-text .right {
  grid-column: 7/13;
  align-items: end;
}
.appointments-text-large {
  font-size: 2.8125rem;
  font-weight: 600;
  color: rgb(11, 26, 71);
  line-height: 3.055em;
}
.appointments-text-medium-4 {
  justify-self: end;
  font-size: 1.375rem;
  color: #676a8a;
  line-height: 2.3em;
}
.appointments .bg-change {
  background: white;
}
.appointments .bg-change > P {
  position: relative;
  color: black;
  font-weight: 600;
  z-index: 10;
}
.appointments-image {
  grid-column: span 3;
  padding: 20px;
  position: relative;
  background: linear-gradient(180deg, #89a7ff 0%, #476fe4 100%);
  box-shadow: 0px 12px 48px rgba(21, 36, 59, 0.08);
  border-radius: 10px;
  text-align: center;
}
.appointments-image img {
  height: 128px;
  width: 128px;
}
.appointments-image > p {
  font-weight: 600;
  line-height: 2.5em;
  font-size: 1.5625rem;
  color: #0b1a47;
}
.appointments .white-font > p {
  color: white;
}
.appointments a:hover {
  opacity: 0.8;
  background: linear-gradient(to right top, yellow, red);
}

.booking {
  align-items: center;
}
.booking-left {
  grid-column: 1/8;
  padding-right: 32px;
}
.booking-left-large {
  font-size: 2.8125rem;
  font-weight: 600;
  line-height: 3.435rem;
  color: #0b1a47;
  margin-top: 15px;
}
.booking-left-medium-3 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 25px;
  color: #676a8a;
  margin-top: 16px;
}
.booking .form {
  padding: 15px;
  grid-column: span 5;
  background: white;
  box-shadow: 0px 12px 48px rgba(21, 36, 59, 0.08);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 40px 30px;
}
.booking .form input,
.booking .form select {
  border: 1px solid rgba(5, 32, 61, 0.1);
  height: 52px;
  padding: 14px 16px;
  width: 100%;
  color: #676a8a;
  color: rgba(74, 76, 96, 0.5);
  font-weight: 400;
  font-size: 1rem;
  margin-top: 4px;
  border-radius: 10px;
  line-height: 1.5rem;
}
.booking .form input:hover,
.booking .form select:hover {
  background: rgb(216, 211, 211);
  cursor: pointer;
}
.booking .form .date-time,
.booking .form .email-phone {
  gap: 30px;
}
.booking .form .date-time {
  margin-top: -20px;
}
.booking .form label {
  font-size: 1.125rem;
  font-weight: 400;
  font-family: "inter" sans-serif;
  line-height: 2.125rem;
  color: #0b1a47;
}
.booking-btn {
  text-align: center;
  padding: 24px auto;
}
.booking-btn img {
  margin-left: 16px;
}

.mobile-app {
  background-color: #f7fbff;
}
.mobile-app-group {
  gap: 20px;
}
.mobile-app-text {
  justify-content: start;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.mobile-app-text .sm-btn {
  grid-column: 1/7;
  justify-self: start;
}
.mobile-app-large {
  font-size: 2.8125rem;
  font-weight: 600;
  color: #0b1a47;
  line-height: 3.43rem;
  margin-top: 16px;
  grid-column: 1/span 7;
}
.mobile-app-medium {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  color: #676a8a;
  margin-top: 16px;
  margin-bottom: 40px;
  max-width: 554px;
  grid-column: 1/span 7;
}
.mobile-app-image-link {
  display: flex;
  gap: 10px;
  grid-column: span 7;
}
.mobile-app .image-link {
  grid-column: 8/13;
  grid-row: 1/5;
  gap: 24.26px;
}

.experts {
  position: relative;
  grid-gap: 30px;
}
.experts-info {
  grid-column: 1/13;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.experts-large {
  font-size: 2.8125rem;
  font-weight: 600;
  line-height: 2.83em;
  color: #0b1a47;
}
.experts-medium {
  font-size: 1.5rem;
  color: #676a8a;
  line-height: 2.5em;
  font-weight: 400;
  max-width: 649px;
  text-align: center;
}
.experts-image {
  grid-column: span 3;
  border-radius: 10px;
}
.experts-image .name {
  display: block;
  font-size: 1.25rem;
  color: white;
  font-weight: 400;
  text-align: center;
  padding-top: 24px;
}
.experts-image .depart {
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 400;
  width: 100%;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}
.experts-image::after {
  content: "";
  background: rgb(14, 99, 244);
  width: 110%;
  height: 440px;
  position: absolute;
  z-index: -1;
  bottom: 0px;
  left: 0px;
  border-radius: 0 300px 300px 0;
}
.experts .btn {
  margin-bottom: 52px;
  grid-column: 1/13;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.feedback .feedback-content img {
  grid-column: span 6;
}
.feedback-text {
  grid-column: span 6;
}
.feedback-text-large {
  font-size: 2.8125rem;
  font-weight: 600;
  color: #0b1a47;
  margin-top: 16px;
}
.feedback-text-medium-3 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #676a8a;
  line-height: 2.5rem;
  margin: 16px 0 40px 0;
}
.feedback-text-small {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 2.125rem;
  color: #676a8a;
  margin: 24px 0;
}
.feedback-name {
  font-size: 1.375rem;
  font-weight: 700;
  color: #0b1a47;
  line-height: 2.1875rem;
  margin-bottom: 2px;
}
.feedback-ocu {
  font-size: 1.125rem;
  color: #676a8a;
  line-height: 2.125rem;
}
.feedback-btn {
  margin-top: 48px;
  text-align: center;
}

.blog {
  position: relative;
  background: #f7fbff;
  padding-bottom: 272px;
}
.blog-title {
  text-align: center;
}
.blog-title-large {
  font-size: 2.8125rem;
  font-weight: 600px;
  line-height: 3.82rem;
  color: #0b1a47;
  margin: 16px 0 56px 0;
}
.blog-content {
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.blog-content-card {
  grid-column: span 4;
  text-align: center;
  background: white;
  border-radius: 20px;
}
.blog-content-card img {
  width: 100%;
}
.blog-content-text {
  padding-left: 24px;
  text-align: start;
}
.blog-cata {
  display: block;
  font-size: 0.875rem;
  font-weight: 600;
  color: rgb(14, 99, 244);
  margin: 30px 0 8px 0;
}
.blog-link {
  font-size: 1.25rem;
  font-weight: 700;
  color: #0b1a47;
  line-height: 2.1875rem;
  letter-spacing: 5%;
  margin-bottom: 18px;
}
.blog-date {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 16.9px;
  margin-top: 16px;
  color: #676a8a;
  padding-bottom: 32px;
}
.blog .btn {
  display: flex;
  margin-top: 48px;
  justify-content: center;
}

.assist-card {
  position: absolute;
  bottom: -218px;
  left: 0;
  right: 0;
  margin: auto;
  align-items: center;
  max-width: 1150px;
  background: linear-gradient(180deg, #89a7ff 0%, #476fe4 100%);
  -webkit-backdrop-filter: blur(80px);
          backdrop-filter: blur(80px);
  padding: 64px 98px;
  border-radius: 20px;
}
.assist-card .assist-text {
  grid-column: span 8;
}
.assist-card .large {
  font-size: 2.8125rem;
  color: white;
  font-weight: 600;
  line-height: 3.5rem;
  margin-bottom: 10px;
}
.assist-card .medium {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.82rem;
  color: rgba(255, 255, 255, 0.8);
}
.assist-card::after {
  content: "";
  background: url(../img/assist.png);
  background-repeat: no-repeat;
  height: 236px;
  max-width: 236px;
  position: absolute;
  top: 0;
  right: -88px;
}
.assist-card::before {
  content: "";
  background: url(../img/Groupfooter.png);
  background-repeat: no-repeat;
  position: absolute;
  height: 44px;
  max-width: 64px;
  bottom: 24px;
  left: 24px;
}
.assist-card .btn {
  grid-column: span 4;
}
.assist-card .big-btn {
  font-size: 1.125rem;
  line-height: 21.78px;
  font-weight: 400;
}

.empty-div {
  height: 294px;
}

footer {
  background-color: #f7fbff;
}

.empty-div {
  height: 294px;
}

.footer-top {
  border-bottom: 1px solid rgba(103, 106, 138, 0.15);
}
.footer-top-links {
  padding: 40px 0 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-top-phone {
  padding-top: 40px;
  display: flex;
  gap: 20px;
}
.footer-top-phone .link-text > span {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 2.125rem;
  color: #0b1a47;
  margin-bottom: 8px;
  display: block;
}
.footer-top-phone .link-text > a {
  color: #ec8e00;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 2.125rem;
}

.footer-content {
  padding: 80px 0 48px 0;
  gap: 31px;
  color: #676a8a;
}
.footer-content .card {
  grid-column: span 3;
}
.footer-content .big-text {
  display: inline-block;
  position: relative;
  font-size: 1.25rem;
  font-weight: 600;
  color: #0b1a47;
  line-height: 2.125rem;
  margin-bottom: 30px;
}
.footer-content .big-text::after {
  content: "";
  height: 2px;
  width: 40px;
  background-color: rgb(14, 99, 244);
  position: absolute;
  bottom: 0;
  left: 0;
}
.footer-content .small-text {
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 32px;
  line-height: 2.125em;
  letter-spacing: 5%;
}
.footer-content .flex {
  gap: 20px;
}
.footer-content .flex .fa {
  padding: 10px;
  font-size: 20px;
  color: #0b1a47;
}
.footer-content .quick-links {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
}
.footer-content .quick-links a {
  font-size: 1.25rem;
  line-height: 2.375em;
  color: #676a8a;
}
.footer-content .leatest-news .blog-date {
  margin-top: 4px;
}
.footer-content .opening-hours .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid rgba(103, 106, 138, 0.15);
  font-size: 1.125rem;
  line-height: 1.825em;
}

.copyright {
  background-color: #0b1a47;
}
.copyright-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.copyright-content {
  font-family: 1.125rem;
  font-weight: 400;
  line-break: 2.125rem;
  color: rgba(247, 251, 255, 0.5);
  padding: 16px 0;
}
.copyright-content span {
  color: white;
}

@media screen and (min-width: 1300px) {
  .header-menu {
    display: none;
  }
}
@media screen and (max-width: 1300px) {
  .header-menu {
    display: none;
  }
  .container {
    padding: 0 30px;
  }
}
@media screen and (max-width: 1025px) {
  html {
    font-size: 15px;
  }
  body {
    overflow-x: hidden;
  }
  .top-nav-social {
    transform: translateX(300%);
    position: fixed;
    left: 0;
    z-index: 100;
  }
  .active.top-nav-social {
    transform: translateX(0);
    font-size: 20px;
  }
  .active.top-nav-social :hover {
    cursor: pointer;
    color: #ec8e00;
  }
  .header-menu {
    display: block;
  }
  .hero {
    display: flex;
  }
  .hero-text {
    grid-column: span 12;
  }
  .hero-image {
    grid-column: span 12;
    order: 1;
  }
  .header-menu {
    right: 15px;
    z-index: 999;
  }
  .header-menu:hover {
    cursor: pointer;
  }
  .header-links {
    width: 100%;
    height: 100vh;
    position: fixed;
    position: fixed;
    padding-top: 100px;
    top: 0;
    left: 0;
    background: rgb(239, 236, 236);
    z-index: 100;
    flex-direction: column;
  }
  .header-links a {
    color: black;
  }
  .header-links {
    transform: translateX(100%);
    transition: 0.5s ease-in-out;
    visibility: hidden;
    opacity: 0;
  }
  .active .header-links {
    visibility: visible;
    opacity: 1;
    transform: translateX(0%);
    transition: all 0.6s ease-in-out;
  }
  .header-social-right {
    transform: translateX(100%);
    visibility: hidden;
    opacity: 0;
  }
  .active .topnav .header-social-right {
    transform: translateX(0);
    transition: 0.3s ease-in;
  }
  .assist-card {
    position: relative;
    bottom: 0;
    padding: 15px;
  }
  .active .header-menu span:nth-child(2) {
    opacity: 0;
  }
  .active .header-menu span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    transform-origin: 0.3s ease-in-out;
  }
  .active .header-menu span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    transform-origin: all 0.3s ease-in-out;
  }
}
@media (max-width: 968px) {
  body {
    font-size: 14px;
  }
  section {
    padding: 30px 0;
  }
  .aboutus {
    padding-top: 0;
    margin-top: 0;
    margin: auto;
  }
  .aboutus-image {
    grid-column: span 12;
  }
  .aboutus-text {
    grid-column: span 12;
    text-align: start;
  }
  .our-services-title {
    grid-column: span 12;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .our-services span,
.our-services p,
.our-services h3 {
    text-align: start;
  }
  .our-services .card {
    grid-column: span 6;
  }
  .cards-card {
    grid-column: span 6;
  }
  .cards {
    justify-content: center;
    display: none;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
  }
  .cards .card-3 {
    grid-column: span 12;
  }
  .appointments-card {
    grid-gap: 30px;
  }
  .appointments-text {
    grid-gap: 0;
    grid-column: span 12;
  }
  .appointments-text .left {
    grid-column: span 12;
    margin: 0;
  }
  .appointments-text .right {
    margin: 0;
    grid-column: span 12;
  }
  .appointments-image {
    grid-column: span 6;
  }
  .booking {
    grid-gap: 30px;
    align-items: center;
  }
  .booking-left {
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-content: center;
    align-items: center;
  }
  .booking-left span {
    grid-column: 6/span 8;
    justify-self: start;
    grid-row: 1/2;
  }
  .booking-left h2 {
    grid-column: 6/span 8;
    grid-row: 2/3;
    margin-top: 0;
  }
  .booking-left p {
    grid-column: span 12;
    grid-row: 3/4;
  }
  .booking-left img {
    justify-self: start;
    grid-column: 1/5;
    grid-row: 1/3;
  }
  .booking .form {
    grid-column: span 12;
    padding: 30px 80px;
  }
  .blog {
    padding-bottom: 40px;
  }
  .assist-card {
    display: block;
  }
  .empty-div {
    display: none;
  }
  .mobile-app-text {
    grid-column: span 12;
    -moz-column-gap: 20px;
         column-gap: 20px;
    grid-row: 1/5;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-content: start;
  }
  .mobile-app-text span,
.mobile-app-text h2 {
    grid-column: span 12;
    justify-self: start;
  }
  .mobile-app .mobile-app-medium {
    grid-column: 1/8;
    grid-row: 3/4;
    width: auto;
  }
  .mobile-app-image-link {
    grid-column: span 12;
    align-self: center;
    justify-self: center;
    grid-row: 4/5;
  }
  .mobile-app .image-link {
    grid-row: 3/4;
  }
  .feedback-content {
    display: flex;
    flex: 1;
    padding: 0 40px;
  }
  .feedback-content img {
    max-width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media screen and (max-width: 769px) {
  section {
    padding: 40px 0;
  }
  .container {
    padding: 0 20px;
  }
  .cards-card {
    grid-column: span 12;
  }
  .cards .card-3 {
    grid-column: span 12;
  }
  .cards .card-3::after {
    display: none;
  }
  .hero {
    flex-direction: column;
  }
  .heroimage {
    order: 1;
  }
  .hero-text {
    order: 2;
  }
  .aboutus-image {
    grid-column: span 12;
    margin: auto;
  }
  .aboutus-text {
    grid-column: span 12;
  }
  .our-services {
    display: block;
    grid-column-gap: 0px;
  }
  .our-services-title {
    align-items: flex-start;
  }
  .our-services-medium-3 {
    text-align: start;
  }
  .our-services .card {
    grid-column: span 12;
  }
  .our-services .btn {
    margin: 0;
  }
  .appointments-text {
    grid-gap: 10px;
  }
  .appointments-text .left,
.appointments-text .right {
    grid-column: span 12;
  }
  .appointments-card .appointments-image {
    grid-column: span 12;
  }
  .appointments-card .appointments-image-3::after {
    display: none;
  }
  .appointments-card .Appoinments-image3::after {
    background: url(../img/dots.png);
    background-repeat: no-repeat;
    height: 50px;
    width: 20px;
    position: absolute;
    right: -114px;
    bottom: -73px;
    z-index: -1;
  }
  .booking {
    grid-column: span 12;
  }
  form .date-time,
form .email-phone {
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
  }
  .mobile-app-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }
  .mobile-app-text .image-link {
    display: flex;
    justify-content: center;
  }
  .mobile-app-text img {
    max-width: 70%;
  }
  .mobile-app .mobile-app-medium {
    grid-column: 1/13;
    grid-row: 3/4;
    max-width: 100vw;
  }
  .experts-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 20px;
  }
  .experts-info .sm-btn, .experts-info .experts-large, .experts-info .experts-medium {
    line-height: 1.4em;
    text-align: start;
  }
  .blog-content {
    display: block;
  }
  .assist-card {
    margin-top: 30px;
  }
  .assist-card::after, .assist-card::before {
    z-index: -2;
  }
  assist-card-m {
    display: grid;
    display: none;
    position: relative;
    grid-template-columns: auto;
    width: 100%;
    padding: 12px;
  }
  .feedback-content {
    display: flex;
    flex-direction: column;
  }
  .footer {
    margin-top: 30px;
  }
  .footer-top {
    height: auto;
  }
  .footer-content {
    grid-template-columns: repeat(1, 1fr);
    padding: 20px;
  }
  .footer .copyright {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 500px) {
  .booking-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .booking .form {
    padding: 20px;
  }
}/*# sourceMappingURL=style.css.map */